@use "../../config/GlobalStyles/variables";
@use "../../config/GlobalStyles/mixins";

.App-header {
  background: variables.$primary100;
  height: 67px;
  padding: 0 20px;
  color: white;
  @include mixins.display-flex();

  .header-container {
    width: calc(100vw - 40px);
    @include mixins.display-flex();
    gap: 15px;
  }
}

.profile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: variables.$white100;
}