@use "../../config/GlobalStyles/variables";

.App-header {
  background-color: variables.$primary100;
  height: 67px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  gap: 15px;
}

.profile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: variables.$white100;
}