@use "../../config/globalstyles/variables";
@use "../../config/globalstyles/mixins";

.App-header {
  background: variables.$primary100;
  height: 67px;
  padding: 0 20px;
  @include mixins.display-flex();

  .header-container {
    width: calc(100vw - 40px);
    @include mixins.display-flex();
    gap: 15px;
  }
}

.profile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: variables.$white100;
}

.login:hover {
  animation: 1s movelftrght infinite ease;
}

@keyframes movelftrght {
  from {
    margin-right: 5px;
  }

  to {
    margin: 0;
  }
}
