@use "../../config/globalstyles/variables";

.app-footer {
  height: 50px;
  width: 100%;
  background: variables.$primary100;
}

.disclaimer-mobile {
  @media (max-width: 640px) {
    font-size: 11px;
    line-height: 8px;
  }
}

.width-210 {
  width: 210px;
}