@use "../../../config/globalstyles/variables";

.chat-message {
  max-width: 60%;
  background-color: variables.$primary100;
  color: variables.$white100;

  &-income {
    background-color: variables.$dark-gray;
  }
}