@use "../../config/GlobalStyles/variables";
@use "../../config/GlobalStyles/mixins";

.cards-container {
  @include  mixins.display-flex();
  // TODO maybe display with grid?
  flex-wrap: wrap;
  background: variables.$white50;
  gap: 18px;
  padding: 30px 20px;
  height: 100%;
}