@use '../../config/globalstyles/variables';
@use '../../config/globalstyles/mixins';

.cards-container {
  width: 100%;
  // TODO maybe display with grid?
  background: variables.$white50;
  gap: 18px;
  padding: 30px 20px;
  height: 100%;
}
