@use '../../config/globalstyles/variables';

.searchbar-container {
  display: flex;
  flex: 1;
  height: 30px;
  padding: 0 15px;
  border-radius: 45px;
  background: #FFF;

  .search-results {
    height: 100vh;
    background-color: variables.$dark-blue;
  }
}

.search {
  width: calc(100% - 30px);
  border: none;
  outline: none;
}