@use '../../config/GlobalStyles/variables';
@use '../../config/GlobalStyles/mixins';

.button-container {
  @include mixins.display-flex();
  background: variables.$white100;
  border-radius: 4px;
  padding: 0 10px;
  height: 30px;
  color: variables.$primary100;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;

  &-outline {
    background: variables.$primary100;
    color: variables.$white100;
    border: 1px solid variables.$white100;
  }
}

.svg-container {
  svg {
    cursor: pointer;
    opacity: 0.2;
    transition: 0.5s;
  }

  svg:hover {
    opacity: 1;
  }

  svg path:hover {
    fill: #176b87;
  }
}

.svg-container-filled {
  svg {
    cursor: pointer;
    opacity: 0.2;
    transition: 0.5s;
  }

  svg:hover {
    opacity: 1;
  }

  svg path {
    fill: #176b87;
  }
}
