$white100: #fff;
$primary100: #176b87;
//  $primary100: #007b2d;
//  $primary100: #f4E064;
//  $white100: #FFFFFF;
$white50: #f6f6f6;
$black20: rgba(0, 0, 0, 0.2);
$aquamarine: #dafffb;
$dark-blue: rgba(23, 107, 135, 0.84);
$light-blue: rgba(23, 107, 135, 0.2);
$border-radius: 4px;
$card-width: 250px;
$card-height: 300px;
$transition-time: 0.5s;
