@use "../../config/GlobalStyles/variables";
@use "../../config/GlobalStyles/mixins";

.container {
  @include mixins.display-flex();
  border-radius: 4px;
  border: 1px solid variables.$black20;
  background: rgba(217, 217, 217, 0.22);
  height: 42px;
  padding: 0 9px;

  input {
    background: transparent;
    margin-left: 5px;
  }
}