@use '../../config/globalstyles/variables';
@use '../../config/globalstyles/mixins';

.container-input {
  @include mixins.display-flex();
  border-radius: 4px;
  background: rgba(217, 217, 217, 0.22);
  height: 42px;
  padding: 0 9px;

  input {
    background: transparent;
    margin-left: 5px;
  }
}

.container-border {
  border: 1px solid variables.$black20;
}

.container-validation-error {
  border: 1px solid variables.$error;
}
