@use '../../config/GlobalStyles/variables';
@use '../../config/GlobalStyles/mixins';

.card {
  @include mixins.display-flex(
    $direction: column,
    $justify-content: flex-start,
    $align-items: flex-start
  );
  width: variables.$card-width;
  max-width: variables.$card-width;
  background: variables.$white100;
  border-radius: variables.$border-radius;
  height: 100%;
  padding: 10px;
  cursor: pointer;

  .card-img-container {
    height: 200px;
    width: 100%;

    .card-img {
      height: 100%;
      width: 100%;
      border-radius: variables.$border-radius;
      object-fit: cover;
    }
  }

  .card-footer {
    @include mixins.display-flex(
      $direction: row,
      $justify-content: space-between,
      $align-items: flex-start
    );
    margin-top: 10px;
    width: 100%;

    .categories-list {
      cursor: pointer;
      color: variables.$primary100;
      opacity: 0.6;
      transition: 0.2s;
    }
    .categories-list:hover {
      opacity: 1;
    }
  }

  .text-title {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .text-body {
    font-size: 15px;
    font-weight: 600;
    color: variables.$primary100;
  }

  .info {
    @include mixins.display-flex(
      $direction: column,
      $justify-content: space-between,
      $align-items: flex-start
    );
    flex: 1;
    width: 100%;
  }

  .row {
    @include mixins.display-flex($justify-content: space-between);
    width: 100%;
  }
}
